@import 'tailwindcss';

@theme {
    --color-background-light: rgba(52, 53, 65, 0.4);
    --color-background: rgba(40, 40, 48, 1);
    --color-surface: rgba(52, 53, 65, 1);
    --color-primary: rgba(215, 195, 60, 1);
    --color-primary-hover: rgba(169, 152, 35, 1);
}

.slider-anim {
    animation: slider 40s linear infinite
}

@keyframes slider {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); /* la moitié, car on a doublé */
    }
}